@import "variables";

html {
	position:relative;
	min-height:100%;
}

body {
	padding-top:56px;
	margin-bottom:52px;
}

header {
	.ico-a2v10-logo {
		font-size:36px;
		line-height:20px;
		margin-right:15px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 52px;
	line-height: 24px;

	.links {
		margin: 0 -5px;
		line-height:1;

		a {
			margin: 0 5px;
			padding:0 2px;
			display:inline-block;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

section.main {
	padding-bottom:1.5rem;
	padding-top:2.5rem;
}

.t-shadow {
	text-shadow: 0 4px 4px rgba(0,0,0,.22);
}

/* scroll spy */
body.has-scroll header > nav, nav.bottom-shadow
{
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}


#scrollspy {
	position:relative;
	top:-56px;
}

// card
.card-title.with-icon {
	display:inline-flex;
	align-items:center;
	.ico {
		margin-right:15px;
	}
}

// utils 
.mh-130 {
	min-height:130px;
}

.img-card {
	background:no-repeat center/cover;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	min-height:130px;
	background-color:#f0f0f0;
	svg {
		width:60%;
		height:60%;
	}
}

.card {
	height:100%;
	.card-body {
		line-height: 1.2em;
	}
}

.text-page {
	h2, h3, h4 {
		color:rgba(0, 0, 0, 0.5);
		margin-top:1.5rem;
		margin-bottom:1rem;
	}
}

.simple-list.li-mb-3 {
	li {
		margin-bottom: 1rem;
	}
}

.pb-6 {
	padding-bottom:2.5rem!important;
}