<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Платформа для розробки бізнес-застосунків"/>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-sm navbar-toggleable-sm">
			<div class="container">
				<a href="/" class="navbar-brand d-inline-flex align-items-center">
					<svg viewBox="-770 70 350 218" height="28px">
						<path d="m -557.59559,71.910077 c -13.84869,-0.33743 -28.46312,6.216497 -35.47993,19.421298 -3.57986,6.496218 -5.31088,13.985965 -5.77014,21.453595 8.75181,-0.0625 17.73902,0.12497 26.34392,-0.0936 0.40181,-7.48151 5.3057,-15.229045 12.78876,-15.883138 6.15734,-0.867748 14.5075,1.209383 15.76946,8.775878 1.39959,9.60372 -4.88557,17.54462 -10.29419,24.46377 -14.30688,18.80831 -28.61376,37.61662 -42.92064,56.42494 0.42393,3.03541 2.33574,5.72237 3.35863,8.61752 2.11498,4.84624 4.22996,9.69249 6.34494,14.53874 23.64057,0 47.28114,0 70.92171,0 0,-8.25014 0,-16.50028 0,-24.75041 -15.53129,0 -31.06257,0 -46.59386,0 11.85689,-15.09307 23.94957,-29.98477 35.64994,-45.21153 9.2346,-13.59894 13.67272,-32.50535 7.03745,-48.341107 -5.67104,-13.080137 -19.76222,-18.621503 -32.50666,-19.26761 -1.54782,-0.101625 -3.09868,-0.148318 -4.64939,-0.148346 z m -85.53772,209.156143 h -123.46496 l 93.57139,-209.156064 77.31905,172.159874 h 79.1747 v 36.99619 h -103.58904 l -53.3207,-120.32069 -37.34576,83.3245 h 51.38175 z"
							  style="fill:#fff;stroke:none;" />
					</svg>
					<span>
						Платформа <strong>A2v10</strong>
					</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Перемикання навігації">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse justify-content-end" id="menu">
					<ul class="navbar-nav">
						<li class="nav-item" style="display:none">
							<a class="nav-link" asp-action="index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://docs.a2v10.com" target="_blank" rel="noopener">Документація</a>
						</li>
						<li class="nav-item" style="display:none">
							<a class="nav-link" asp-action="privacy">Контакти</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank"  rel="noopener" href="https://github.com/alex-kukhtin/a2v10">Відкритий код</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="scrollspy"></div>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<footer class="footer bg-dark py-3 pb-3 text-light small">
		<div class="container d-flex justify-content-between">
			<div>&copy; 2016-2020 Олександр Кухтін</div>
			<div class="links">
				<a href="https://github.com/alex-kukhtin/a2v10" target="_blank" rel="noopener">
					<svg class="ico ico-24 ico-light ico-github" viewBox='0 0 512 512'><title>Github</title><path d='M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z' /></svg>
				</a>
				<a href="https://www.facebook.com/groups/a2v10" target="_blank" rel="noopener">
					<svg class="ico ico-24 ico-light ico-facebook" viewBox='0 0 512 512'><title>Facebook</title><path d='M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z' /></svg>
				</a>
				<a href="/" style="display:none">
					<svg class="ico ico-24 ico-light ico-linked-in" viewBox='0 0 512 512'><title>Linked In</title><path d='M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z' /></svg>
				</a>
			</div>
		</div>
	</footer>

	<partial name="../_SiteScripts" />

	@RenderSection("Scripts", required: false)
</body>
</html>
