@{
	ViewData["Title"] = "Завантажити";
	ViewBag.NavClass = "bottom-shadow";
}
<section class="top">
	<div class="container text-page">

		<h2>@ViewData["Title"]</h2>

		<p>
			На цій сторінці зібрано все, що потрібно для розробки бізнес-застосунків на платформі <b>A2v10</b>.
			NuGet пакети для розробників, інсталяційні пакети, додаткові модулі та розширення.
		</p>


		<h4>NuGet пакети для NET.Core</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.interfaces" target="_blank">A2v10.Data.Interfaces</a>.
				Абстракції для роботи з моделями даних платформи в застосунках .NET6.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.core" target="_blank">A2v10.Data.Core</a>.
				Основний пакет для роботи з моделями даних платформи в застосунках .NET6
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.providers" target="_blank">A2v10.Data.Providers</a>.
				Пакет для роботи з зовнішніми джерелами даних (*.dbf, *.csv, etc).
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/profiles/A2v10Platform" target="_blank">Вся колекція Nuget-пакетів платформи (NET.Core)</a>.
			</li>
		</ul>

		<h4>NuGet пакети для NET.Framework</h4>

		<ul class="simple-list">
			<li><a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.web.runtime" target="_blank">A2v10.Web.Runtime</a>.
			Повна версія платформи. Підтримується NET framework 4.8.</li>
			<li><a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.web.mvc" target="_blank">A2v10.Web.Mvc</a>.
			Пакет для розробки сайтів з використанням платформи в режимі Site-mode.</li>
		</ul>

		<h4>Тестування</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/A2v10.tests.browser/releases" target="_blank">A2v10.Tests.Browser</a>.
				Інсталяційний пакет модуля тестування застосунків А2v10 безпосередньо в браузері.
			</li>
		</ul>

		<h4>Робота з зовнішнім обладнанням</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/a2v10.browser.companion/releases" target="_blank">A2v10.Browser.Companion</a>.
				Інсталяційний пакет Native Messaging Host для роботи з зовнішнім обладнаннями через розширення Chrome.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://chrome.google.com/webstore/detail/a2v10-equipment-host/knopcophdgepmijgkhdehmbkmkalhidj" target="_blank">A2v10 Equipment Host</a>.
				Розширення Chrome. Працює спільно з Native Messaging Host. Призначене для для роботи з зовнішнім обладнанням безпосередньо з браузера.
			</li>
		</ul>
	</div>
</section>
<section class="bg-light pb-5">
	<div class="container text-page">
		<h2>Попередні версії А2</h2>

		<h4>Утіліти (сирцевий код)</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/a2.replication" target="_blank">A2.Replication</a>.
				Система реплікації баз даних для Microsoft SQL-Server.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/dw.loader" target="_blank">DW.Loader</a>.
				Data Warehouse для Microsoft SQL-Server.
			</li>
		</ul>
	</div>
</section>