@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome (Uk)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>Цю сторінку написано українською мовою, щоб перевірити як кодуються літери UTF-8</p>
</div>
