@{
	ViewData["Title"] = "Платформа A2v10";
}

<div id="scrollspy"></div>

<section class="bg-primary text-light main d-none d-sm-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1 class="display-4 t-shadow">Застосунки для бізнесу</h1>
				<p class="lead">
					<strong>A2v10</strong> це сучасна програмна платформа для розробки швидких,
					компактних та зручних бізнес застосунків
					будь якої складности
				</p>
			</div>
		</div>
	</div>
</section>


<section class="bg-light main">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class="ico ico-64 ico-primary ico-github"></i>
							<span>Відкритість</span>
						</h5>
						<p class="card-text mh-130">
							Сирцевий код системи повністю доступний для перегляду і вивчення. Всі прикладні застосунки
							фактично є набром пласких файлів, які дуже зручно підтримувати в будь-якій системі спільної розробки програмного забезпечення.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class="ico ico-64 ico-primary ico-cloud-outline"></i>
							<span>Оптимізовано для хмари</span>
						</h5>
						<p class="card-text mh-130">
							Код платформи оптимизовано спеціально для роботи в хмарному середовищі. Мінімізована кількість запитів до сервера застосунків,
							що дає високу швидкість роботи. Також мінімізована кількість запитів до бази даних. Це значно зменьшує
							витрати на володіння системою.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class="ico ico-64 ico-primary ico-server-outline"></i>
							<span>Мультітенантність</span>
						</h5>
						<p class="card-text mh-130">
							Платформа підртимує мультітенантість. Це означає, що можлива пітримка багатьох незалежних сегментів баз даних в одній фізичній базі данних.
							Мультітенантні застосунки ідеально підходять для постачання програмного забезпечення "як сервіс" (SaaS).
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class='ico ico-64 ico-primary ico-layers-outline'></i>
							<span>Ефективність</span>
						</h5>
						<p class="card-text mh-130">
							Aрхітектура платформи побудована таким чином,
							щоб розробник бізнес-застосунків міг зосередитися на вирішенні прикладних задач предметної області,
							максимально абстрагуючись від низькорівневих технологій.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class="ico ico-64 ico-primary ico-tv-outline"></i>
							<span>Web + Desktop</span>
						</h5>
						<p class="card-text mh-130">
							Підтримується два виконуючих середовища.
							Ваш прикладний застоcунок буде працювати без жодних змін в web-оточенні, в хмарному середовищі і
							на настільному комп'ютері.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title with-icon">
							<i class="ico ico-64 ico-primary ico-javascript"></i>
							<span>JavaScript</span>
						</h5>
						<p class="card-text mh-130">
							Всі бізнес-застосунки розробляються з використанням мови програмування <strong>JavaScript</strong>, що є однією з найбільш популярних в світі.
							Більш складні задачі можна вирішувати за допомогою будь якої мови <strong>.NET Framework</strong>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="main">
	<div class="container">
		<h4 class="pb-3 text-black-50">Розроблено на платформі <b>A2v10</b></h4>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px;text-align:center;padding:20px">
					<svg viewBox="0 0 100 23" width="100%" style="max-width:200px"><g transform="translate(0,-274)"><path d="m 63.311349,274.00001 -26.575089,0.0107 c -20.663027,0.008 -26.638963,0.0197 -26.8613597,0.0526 -1.5215212,0.22497 -2.5648853,0.54743 -3.7392605,1.15482 C 3.0152775,276.832 0.78746544,279.89217 0.17124868,283.4109 0.0338117,284.19577 5.3753661e-4,284.60001 4.7061397e-6,285.49448 -4.5054759e-4,286.35559 0.03199841,286.78109 0.15199024,287.49151 c 0.34921025,2.0675 1.25606176,4.01262 2.61550456,5.61027 1.8242019,2.14385 4.3917012,3.52418 7.1245822,3.83025 0.372473,0.0417 4.372356,0.0495 26.928505,0.0526 l 25.999936,0.004 v 0.0112 L 76.3566,296.9893 c 14.829279,-0.0114 13.62831,0.005 14.66296,-0.20088 2.407442,-0.47944 4.655609,-1.82059 6.254309,-3.73087 1.520509,-1.81683 2.439931,-4.00156 2.681607,-6.37193 0.07633,-0.74924 0.0514,-2.14141 -0.05101,-2.83011 -0.311328,-2.09357 -1.083583,-3.92331 -2.352132,-5.5732 -0.33035,-0.42965 -1.276427,-1.40494 -1.703591,-1.75587 -1.723889,-1.41623 -3.795904,-2.27614 -5.973762,-2.47937 -0.260006,-0.0243 -4.761304,-0.0359 -13.720337,-0.036 H 63.311349 Z m 0,1.98896 12.927098,0.0107 c 14.690182,0.0124 13.554536,-0.003 14.511494,0.20034 3.583822,0.7631 6.425695,3.70452 7.144882,7.39514 0.142765,0.73257 0.173747,1.07855 0.170725,1.9444 -0.0019,0.65491 -0.01707,0.91368 -0.076,1.31005 -0.156632,1.05466 -0.430947,1.95353 -0.882245,2.88919 -1.388701,2.87914 -4.065893,4.82153 -7.160496,5.19508 -0.367175,0.044 -2.22268,0.051 -13.775509,0.051 h -13.35078 v 0.0258 l -25.999936,-0.0107 c -25.028832,-0.009 -26.51208,-0.0135 -26.8738528,-0.0709 -0.8848127,-0.14038 -1.6468538,-0.35186 -2.3474478,-0.65208 -2.2972122,-0.98435 -4.1500916,-2.93972 -5.051437,-5.32989 -0.4267556,-1.13166 -0.6144294,-2.1811 -0.6152291,-3.43921 -9.085e-4,-1.56227 0.2778651,-2.80634 0.9415816,-4.19763 0.481181,-1.00866 0.9910689,-1.74117 1.7650101,-2.53631 0.7685294,-0.78957 1.4555476,-1.29577 2.4260431,-1.78756 0.8786826,-0.44526 1.694657,-0.71389 2.7086735,-0.89162 0.3366504,-0.059 1.6087024,-0.0626 26.9456814,-0.0709 l 26.591744,-0.009 z m -29.920331,3.86248 c -1.026995,0.002 -2.036414,0.32759 -2.95695,0.95822 -0.410669,0.28134 -1.086319,0.9752 -1.36683,1.40352 -1.433318,2.18852 -1.28226,4.86855 0.387252,6.87197 0.828721,0.99447 2.0608,1.662 3.370227,1.82569 0.329011,0.0412 1.117081,0.0166 1.481858,-0.0461 1.641348,-0.28253 3.070875,-1.37372 3.846483,-2.93646 0.242042,-0.48769 0.390026,-0.9064 0.500721,-1.41479 0.06425,-0.29513 0.07467,-0.44543 0.07547,-1.10541 7.25e-4,-0.67416 -0.0083,-0.80615 -0.07703,-1.12312 -0.536584,-2.47271 -2.424724,-4.20241 -4.819815,-4.41464 -0.147206,-0.0131 -0.294669,-0.019 -0.441383,-0.0188 z m -11.217261,0.003 c -2.199872,-0.0619 -4.263338,1.31141 -5.113376,3.5837 -0.755719,2.02014 -0.25895,4.34552 1.262208,5.91052 0.415602,0.42758 0.803368,0.72086 1.303329,0.98401 0.574734,0.30252 1.197303,0.49947 1.824867,0.57795 0.344638,0.043 1.126121,0.0159 1.51413,-0.0526 0.387718,-0.0684 1.006006,-0.27518 1.393895,-0.46622 1.271814,-0.6264 2.352981,-1.93319 2.773737,-3.3522 0.196034,-0.6612 0.224149,-0.86954 0.221732,-1.6667 -0.0018,-0.61638 -0.01341,-0.7822 -0.07547,-1.07103 -0.429779,-2.00016 -1.757979,-3.54904 -3.573741,-4.16862 -0.508958,-0.17368 -1.023644,-0.26451 -1.531307,-0.27877 z m 47.349739,0.1187 v 5.41691 5.41744 h 0.756806 0.757326 v -1.80312 -1.80259 l 1.438655,-0.0156 c 1.568865,-0.0166 1.672453,-0.0276 2.195463,-0.23579 1.15834,-0.46096 1.914757,-1.56336 2.052847,-2.99287 0.07077,-0.73264 -0.06019,-1.46588 -0.379444,-2.12648 -0.174642,-0.36136 -0.287615,-0.52819 -0.557974,-0.82395 -0.540509,-0.59126 -1.213481,-0.91351 -2.087199,-0.99905 -0.19658,-0.0192 -1.216465,-0.0349 -2.266771,-0.0349 z m 14.97422,0 v 5.41691 5.41744 h 0.740148 0.74067 v -4.63539 -4.63592 l 1.286671,5.3e-4 c 1.446527,6.7e-4 1.589604,0.0168 2.006002,0.22828 0.597366,0.30337 0.95921,0.93205 0.957195,1.66401 -0.0022,0.83756 -0.431698,1.48536 -1.18205,1.78326 -0.222667,0.0884 -0.235342,0.0895 -1.360583,0.10155 l -1.135208,0.0124 v 0.35827 0.35826 l 1.837881,2.28708 c 1.01088,1.25782 1.87805,2.32989 1.927405,2.38269 l 0.08952,0.0961 0.946265,-0.009 0.946266,-0.009 -1.641131,-2.01368 c -0.902694,-1.10773 -1.635136,-2.02566 -1.627078,-2.04 0.008,-0.0143 0.04789,-0.0262 0.08849,-0.0263 0.149805,-4.5e-4 0.837872,-0.27243 1.095128,-0.43292 0.750109,-0.46794 1.249185,-1.20282 1.437616,-2.11681 0.280121,-1.35879 -0.25623,-2.83156 -1.29656,-3.56061 -0.291008,-0.20394 -0.70528,-0.39841 -1.031108,-0.48395 -0.447632,-0.1175 -0.945802,-0.14152 -2.933008,-0.1418 z m -76.0698011,0.0317 v 5.40133 5.40133 l 2.4650801,-10e-4 c 2.436275,-6.8e-4 2.709635,-0.0113 3.138085,-0.12246 1.023746,-0.26548 1.832496,-1.19964 2.072625,-2.39397 0.07102,-0.35322 0.08502,-0.99333 0.02862,-1.32187 -0.151932,-0.8852 -0.663183,-1.63109 -1.365267,-1.99166 l -0.20924,-0.10742 0.293561,-0.30348 c 0.23405,-0.24255 0.321772,-0.36413 0.435136,-0.60158 0.308687,-0.64656 0.323416,-1.38692 0.0432,-2.1356 -0.162332,-0.43373 -0.331495,-0.70047 -0.659471,-1.04042 -0.335917,-0.3482 -0.641406,-0.53831 -1.094608,-0.68107 -0.25035,-0.0788 -0.262016,-0.0794 -2.699304,-0.0907 z m 31.3282791,0.003 v 5.39972 5.39972 h 0.740668 0.74015 v -5.39972 -5.39972 h -0.74015 z m 5.434522,0 -1.825387,2.50247 -1.825386,2.50192 v 0.38995 0.38996 l 1.233059,1.5437 c 0.678095,0.84909 1.579528,1.97785 2.0034,2.50784 l 0.770336,0.9636 h 0.959798 c 0.758744,0 0.954239,-0.009 0.934294,-0.0436 -0.0139,-0.0239 -1.001113,-1.2452 -2.1939,-2.71409 -2.015039,-2.48149 -2.165784,-2.67565 -2.125195,-2.7431 0.03964,-0.0659 3.386525,-4.56859 3.777258,-5.08175 l 0.165518,-0.217 h -0.936897 z m 2.443743,0 v 5.39972 5.39972 h 0.740147 0.740148 v -5.39972 -5.39972 h -0.740148 z m 7.306234,0 -0.935857,10e-4 -0.935856,5.4e-4 -1.825388,2.50461 -1.825908,2.50408 5.22e-4,0.38566 v 0.38565 l 2.004958,2.50892 2.004961,2.5089 h 0.956155 c 0.525821,0 0.956156,-0.008 0.956156,-0.0188 0,-0.0104 -0.977481,-1.22163 -2.17204,-2.69208 -1.19456,-1.47046 -2.179076,-2.69306 -2.187134,-2.71623 -0.0083,-0.0232 0.76628,-1.08911 1.720768,-2.36873 0.954486,-1.27961 1.84837,-2.47901 1.986743,-2.66522 z m 0.500198,0 v 5.39972 5.39972 h 3.196903 3.1969 v -0.76433 -0.76379 H 59.39512 56.955543 v -1.5625 -1.5625 h 2.371911 2.372431 v -0.76433 -0.76379 h -2.372431 -2.371911 v -1.54531 -1.54531 h 2.422399 2.42292 v -0.76379 -0.76379 h -3.179724 z m 7.032975,0 v 5.39972 l 5.2e-4,5.40241 h 3.180247 3.179725 v -0.7638 -0.76379 l -2.431249,-0.009 -2.431249,-0.009 v -1.54531 -1.54531 l 2.380762,-0.009 2.380758,-0.009 v -0.76325 -0.76325 l -2.380758,-0.009 -2.380762,-0.009 -0.0089,-1.53671 -0.0094,-1.53672 h 2.440097 2.440096 v -0.76379 -0.76379 h -3.179725 z m 14.923731,0 v 5.39972 5.39972 h 3.19638 3.196901 v -0.76433 -0.76379 h -2.439575 -2.439576 v -1.5625 -1.5625 h 2.372431 2.372432 v -0.76433 -0.76379 h -2.372432 -2.372431 v -1.54531 -1.54531 h 2.422921 2.422398 v -0.76379 -0.76379 h -3.179724 z m -55.29671,1.39383 c 1.50327,0.026 2.916806,0.99883 3.490463,2.47723 0.769347,1.98273 -0.05278,4.18695 -1.906586,5.11128 -0.205654,0.10259 -0.523834,0.22682 -0.706837,0.27609 -0.410472,0.11049 -1.194576,0.14473 -1.577631,0.0687 -0.783172,-0.15544 -1.402186,-0.48571 -1.971127,-1.05168 -0.855654,-0.85121 -1.24225,-1.83085 -1.200269,-3.04228 0.03667,-1.05826 0.400704,-1.91561 1.131563,-2.66683 0.609866,-0.62684 1.283492,-0.98874 2.092924,-1.12421 0.216231,-0.0362 0.432747,-0.0521 0.6475,-0.0483 z m 11.263586,0.002 c 0.996694,-0.0142 1.996181,0.38198 2.760724,1.17094 1.165488,1.20272 1.464037,2.99439 0.756285,4.53871 -0.195419,0.42639 -0.38128,0.70039 -0.723494,1.06673 -0.565163,0.60498 -1.296689,1.00536 -2.103336,1.15052 -0.358644,0.0645 -0.952935,0.0642 -1.299163,-5.3e-4 -0.531022,-0.0993 -1.138534,-0.37244 -1.582835,-0.71223 -0.274093,-0.20961 -0.713187,-0.6779 -0.894736,-0.95394 -1.178125,-1.79132 -0.797959,-4.16257 0.87756,-5.47331 0.660493,-0.5167 1.433789,-0.7758 2.208995,-0.78689 z m -23.45574,0.0629 h 1.549004 c 1.4626,0 1.559155,0.004 1.740026,0.0693 0.464988,0.16866 0.767584,0.6249 0.806252,1.21552 0.04284,0.65428 -0.243996,1.20433 -0.757846,1.45292 l -0.191024,0.0924 -1.573466,0.0104 -1.572946,0.0104 v -1.42499 z m 61.128895,0.0693 1.270015,5.4e-4 c 1.411961,6.7e-4 1.562635,0.0173 1.952909,0.21485 0.438395,0.22197 0.821274,0.74329 0.947308,1.29018 0.174653,0.7578 -0.03055,1.58693 -0.515293,2.08458 -0.248421,0.25503 -0.46622,0.38176 -0.81458,0.47375 -0.23709,0.0625 -0.374804,0.0687 -1.550045,0.0687 h -1.290314 v -2.06632 z m -61.128895,4.30238 1.82747,0.0107 1.826949,0.0104 0.256085,0.13052 c 0.547436,0.27927 0.867671,0.85492 0.867671,1.55927 0,0.356 -0.0486,0.58238 -0.193105,0.89646 -0.202176,0.43945 -0.558294,0.73207 -1.011328,0.8304 v -5.3e-4 c -0.117543,0.0255 -0.756828,0.0387 -1.875877,0.0387 H 9.908733 v -1.7376 z" style="fill: gold; stroke: none;"></path></g></svg>
					<div class="mt-1">Сервіс онлайн-бухгалтерії</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px"></div>
			</div>
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px"></div>
			</div>
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px"></div>
			</div>
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px"></div>
			</div>
			<div class="col-md-4 mb-4">
				<div style="background-color:#f8f8f8;width:100%;height:120px"></div>
			</div>
		</div>
	</div>
</section>
