@{
	ViewData["Title"] = "Платформа А2v10";
	ViewBag.NavClass = "bottom-shadow";
}
<section class="main">
	<div class="container text-page">
		<h2>@ViewData["Title"]</h2>
		<p>
			Платформа А2v10 - це результат 20-річної роботи в галузі розробки бізнес-застосунків.
			Це сьогоднішній погляд на те, як має виглядати платформа для розробки саме бізнес-застосунків.
			Це не "класичний фреймворк", на якому можна писати що завгодно. Це саме платформа для бізнесу.
		</p>
		<h4>Бізнес застосунки</h4>

		<p>
			Що розуміється під бізнес-застосунком:
		</p>
		<ul class="simple-list">
			<li>Типовий візуальний дизайн - можливості змін обмежені;</li>
			<li>Дуже щільна робота з реляційними БД (саме реляційними, як би не хотілося використовувати всілякі модні POST-SQL штучки);</li>
			<li>Можливість розробляти бізнес-логіку і візуальні форми фахівцями, що працюють на прикладному рівні;</li>
			<li>Спрощення роботи з бізнес-завданнями - класичний CRUD;</li>
			<li>Відділення прикладної логіки від платформи;</li>
			<li>Робота зі складними бізнес-процесами;</li>
			<li>Можливість швидкого розгортання прикладної логіки без перекомпіляції і навіть без перезапуску програми;</li>
		</ul>

		<h4>Як це працює</h4>
		<p>
			Платформа A2v10 це декілька виконуючих середовищ (runtime), які інтерпретують (виконують) прикладні програми.
			Прикладна програма це просто набір файлів в текстовому форматі.
			Ці файли можна редагувати в будь-якому текстовому редакторі.
			Виконуюче середовище інтерпретує ці файли "на льоту".
			Ніякої компіляції не передбачено, хоча можна упакувати прикладне рішення в один файл
			(виключно для підтримки цілісності і спрощення розгортання).
		</p>
		<p>
			На сьогоднішній день є два варіанти виконуючого середовища - набір бібліотек для запуску програми під управлінням
			Internet information Services (IIS) або в якості WebApp на платформі Microsoft Azure
			і виконуюча система настільного застосунка.
		</p>

		<h4>Переваги платформи</h4>
		<ul class="simple-list">
			<li><b>Відкритий код</b>. Увесь програмний код платформи повністю відкритий і доступний на GitHub.</li>
			<li>
				<b>Відкриті формати даних</b>.
				Платформа працює з класичними і зрозумілими структурами даних. 
				Кожна властивість будь-якої сутності буде відображатися в відповідне поле таблиці БД. 
				Такий підхід дозволяє з легкістю підключати до бази даних будь-які зовнішні інструменти 
				(наприклад бізнес-аналітику, механізми інтеграції з зовнішніми системами тощо). 
				Класичні і прості структури даних до того ж призводять до невеликих розмірів БД, що дозволяє 
				використовувати безкоштовні SQL-сервери редакції Express Edition.
			</li>
			<li>
				<b>
					Компактність і швидкість роботи
				</b>.
				Виконуюче середовище надзвичайно компактне і працює дуже швидко. 
				Платформа спроектована і реалізована за принципом "нічого зайвого" - 
				запускається також тільки те, що необхідно. 
				Крім того мінімізовано кількість запитів до сервера 
				(враховується специфіка інтернету, коли встановлення з'єднання вартує "дорого" (довгий ping), а передача даних відносно "дешево".
			</li>
			<li>
				<b>Масштабованість</b>.
				У браузер (або десктопну програму) завантажуються тільки ті дані, 
				з якими безпосередньо працює користувач. 
				Якщо в даний момент на екрані відображається документ, 
				то в пам'яті браузера є тільки цей документ (і звичайно пов'язані з ним шаблони, моделі та інше). 
				Хоча поточна прикладна прогрмам може містити тисячі моделей. 
				Таким чином швидкість роботи програми не залежить від розміру прикладної програми.
			</li>
			<li>
				<b>Оптимізована для хмари</b>.
				Тут мається на увазі розміщення прикладних програм саме в хмарному оточенні (Software as a Service), 
				а не розміщення на віртуальних машинах у провайдерів. 
				Оптимізація "для хмари" полягає в тому, що при проектуванні платформи враховувалися умови ціноутворення провайдерів. 
				Таким чином ресурси хмари використовуються "по максимуму на кожен витрачений долар".
			</li>
			<li>
				<b>Легкість розгортання та оновлення</b>.
				Фактично платформа являє собою набір бібліотек, які можуть бути просто скопійовані на робочий комп'ютер. 
				Ніякої особливої ​​інсталяції не потрібно.
				Виключно для зручності роботи є інсталятори.
				Крім того, платформу можна встановити через пакетний менеджер NuGet.
			</li>
		</ul>
	</div>
</section>

