@{
	ViewData["Title"] = "Платформа A2v10";
	ViewBag.NavClass = "bottom-shadow";
}
<section class="top">
	<div class="container text-page">
		<h2>@ViewData["Title"]</h2>
		<p>
			У платформі <b>A2v10</b> сконцентровані найкращі практики облікових систем та рішень для бізнесу.
			Понад 20-річний досвід дозволив нам створити надсучасний інструмент нового покоління.
		</p>

		<ul class="simple-list">
			<li>Час розробки бізнес-застосунків скоротився в кілька разів.</li>
			<li>Робота можлива я у хмарі, так і локально, мінімальне споживання ресурсів.</li>
			<li>Швидкість роботи готових рішень - недосяжна для конкурентів.</li>
		</ul>
		<p>
			<b>A2v10</b> — ефективність, адаптивність та економічність.
		</p>


		<h4>Створена для бізнесу</h4>

		<p>
			Платформа A2v10 має наступні елементи оптимізації:
		</p>
		<ul class="simple-list">
			<li>Підтримка складних бізнес-процесів з візуалізацією;</li>
			<li>Можливість швидкого розгортання/зміни прикладної логіки;</li>
			<li>Налаштування бізнес-логіки та візуальних форм не потребує залучення програмістів;</li>
			<li>Стандартизований дизайн з примусовим обмеженням змін;</li>
			<li>Може бути розгорнутий на власному сервері, в хмарі Azure, або безпосередньо на робочому ПК.</li>
		</ul>


		<h4>Переваги</h4>
		<ul class="simple-list li-mb-3">
			<li>
				<b>Відкритий код</b>. Увесь програмний код платформи
				<a href="https://github.com/alex-kukhtin/A2v10" target="_blank" rel="noopener">доступний на GitHub</a>.
			</li>
			<li>
				<b>Відкритий код прикладних рішень</b>.
				Бізнес-логіка системи зберігається як набір файлів в текстовому форматі. 
				Файли можна редагувати в будь-якому текстовому редакторі.
			</li>
			<li>
				<b>Відкрита архітектура таблиць</b>. Платформа працює з логічно зрозумілими структурами даних. 
				Кожна властивість ставиться у відповідність відповідному полю таблиці бази даних.
			</li>
			<li>
				<b>Простота інтеграції</b>. Доступна структура таблиць дозволяє швидко підключати до бази даних будь-
				які зовнішні інструменти. Наприклад, бізнес-аналітику, механізми інтеграції з зовнішніми системами тощо.
			</li>
			<li>
				<b>Невибагливість до ресурсів</b>. Класичні і прості структури даних забезпечують 
				помірний розмір БД, що дозволяє використовувати в т.ч. безкоштовні редакції SQL-серверів.
			</li>
			<li>
				<b>Компактність і швидкість роботи</b>. Виконуюче середовище надзвичайно компактне і працює дуже швидко. 
				Платформа спроектована і реалізована за принципом "нічого зайвого" - запускається також тільки те, що необхідно.
			</li>
			<li>
				<b>Заощадливість до комунікацій</b>. Мінімізовано кількість запитів до сервера. 
				Враховується специфіка роботи через Internet, коли встановлення з'єднання вартує "дорого" (довгий ping), а передача даних відносно "дешево".
			</li>
			<li>
				<b>Масштабованість</b>. У Web-браузер або локальний додаток  завантажуються тільки ті дані, 
				з якими безпосередньо працює користувач. Якщо в даний момент на екрані відображається документ, то в пам'яті браузера є тільки цей документ і пов'язані з ним шаблони, моделі та інше. А не всі тисячі об’єктів системи. Таким чином, швидкість роботи програми не залежить від розміру самої програми.
			</li>
			<li>
				<b>Оптимізована для хмари</b>. Створена для розміщення саме в хмарному оточенні 
				(Software as a Service) і спроєктована з урахуванням ціноутворення провайдерів.
				Ресурси хмари використовуються за принципом "найкраще співвідношення ціна / результат".
			</li>
			<li>
				<b>Легкість розгортання та оновлення</b>. Платформа є набором бібліотек у форматі звичайних файлів. 
				Які можуть бути легко змінені, або перенесені між хмарними сервісами, серверами та локальними комп'ютерами користувачів.
			</li>
		</ul>
	</div>
</section>

