@{
	ViewData["Title"] = "Downloads";
	ViewBag.NavClass = "bottom-shadow";
}
<section class="top">
	<div class="container text-page">

		<h2>@ViewData["Title"]</h2>

		<p>
			On this page, you will find everything you need for the development of the A2v10 business applications.
			These are the installation packages, NuGet packages for developers, Chrome extensions, etc.
		</p>

		<h4>NuGet packages (NET.Framework)</h4>

		<ul class="simple-list">
			<li><a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.web.runtime" target="_blank">A2v10.Web.Runtime</a>.
			Full A2v10 platform. (NET framework 4.8)</li>
			<li><a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.web.mvc" target="_blank">A2v10.Web.Mvc</a>.
			Package for Site-mode development.</li>
		</ul>

		<h4>NuGet packages (.NET6)</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.interfaces" target="_blank">A2v10.Data.Interfaces</a>.
				A2v10 Data Model abstractions.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.core" target="_blank">A2v10.Data.Core</a>.
				A2v10 Data model. Full package.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://www.nuget.org/packages/a2v10.data.providers" target="_blank">A2v10.Data.Providers</a>.
				A2v10 Data Model. Workinng with external data providers (*.dbf, *.csv, etc).
			</li>
		</ul>


		<h4>Testing</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/A2v10.tests.browser/releases" target="_blank">A2v10.Tests.Browser</a>.
				Browser test module installation package (Chromium).
			</li>
		</ul>

		<h4>Working with external equipment</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/a2v10.browser.companion/releases" target="_blank">A2v10.Browser.Companion</a>.
				A2v10 Native Messaging Host installation package. Designed to works with external equipment directly from the browser.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://chrome.google.com/webstore/detail/a2v10-equipment-host/knopcophdgepmijgkhdehmbkmkalhidj" target="_blank">A2v10 Equipment Host</a>.
				Chrome Extension. Communicate with A2v10 native messaging host.
			</li>
		</ul>
	</div>
</section>
<section class="bg-light pb-5">
	<div class="container text-page">
		<h2>A2. Previous versions</h2>

		<h4>Utilities (source code)</h4>

		<ul class="simple-list">
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/a2.replication" target="_blank">A2.Replication</a>.
				Lightweight simple replication system for Microsoft SQL-Server.
			</li>
			<li>
				<a class="page-link" rel="noopener" href="https://github.com/alex-kukhtin/dw.loader" target="_blank">DW.Loader</a>.
				Simple Data Warehouse for Microsoft SQL-Server.
			</li>
		</ul>
	</div>
</section>

