@{
	ViewData["Title"] = "A2v10 Platform";
	ViewBag.NavClass = "bottom-shadow";
}
<section class="top">
	<div class="container text-page">
		<h2>@ViewData["Title"]</h2>
		<p>
			The <b>A2v10</b> platform concentrates the best practices on developing accounting systems
			and business solutions.
			More than 20 years of experience have allowed us to create a state-of-the-art
			tool of a new generation.
		</p>

		<ul class="simple-list">
			<li>Business application development time has been reduced several times.</li>
			<li>Work in the cloud and locally, minimal resource consumption.</li>
			<li>The working speed of solutions is unattainable for competitors.</li>
		</ul>
		<p>
			<b>A2v10</b> — efficiency, adaptability and economy.
		</p>


		<h4>Created for solving business-tasks</h4>

		<p>
			The <b>A2v10</b> platform has the following optimization elements::
		</p>
		<ul class="simple-list">
			<li>Support of complex business processes with visualization;</li>
			<li>Ability to quickly deploy and change business logics;</li>
			<li>Setting up business logic and visual forms does not require the involvement of programmers;</li>
			<li>Standardized design with forced restriction of changes;</li>
			<li>It can be deployed on your own server, in the Azure cloud, or directly on your desktop PC.</li>
		</ul>


		<h4>Benefits</h4>
		<ul class="simple-list li-mb-3">
			<li>
				<b>Open source</b>.
				All program code of the platform is
				<a href="https://github.com/alex-kukhtin/A2v10" target="_blank" rel="noopener">available on GitHub</a>.
			</li>
			<li>
				<b>Open source application solutions</b>.
				The business logic of the system is stored as a set of files in text format.
				Files can be edited in any text editor.
			</li>
			<li>
				<b>Open table architecture</b>. The platform works with 
				logically understandable data structures. Each attribute is displayed in the 
				corresponding field of the database table.
			</li>
			<li>
				<b>Ease of integration</b>. The available table structure allows you to 
				quickly connect any external tools to the database. 
				For example, business intelligence, mechanisms for integration with external systems, etc.
			</li>
			<li>
				<b>Unpretentiousness of resources</b>. Classic and simple data structures provide 
				a moderate size of the database, which allows you to use every versions, 
				including free editions, of SQL servers.
			</li>
			<li>
				<b>Compactness and speed of work</b>. The operating environment is extremely compact and works very quickly. 
				The platform is designed and implemented on the principle of "nothing extra" - launches only what is necessary.
			</li>
			<li>
				<b>Savings in communications</b>. The number of requests to the server is minimized. 
				The specifics of working via the Internet are taken into account, 
				when establishing a connection is "expensive" (long ping), and data transmission is relatively "cheap".
			</li>
			<li>
				<b>Scalability</b>. Only the data that the user works with directly, 
				is downloaded to the Web browser or local application. 
				If a document is currently displayed on the screen, then only this document and related templates, 
				models and more are in the browser's memory. Not all thousands of system objects. 
				Thus, the speed of the program does not depend on the size of the program.
			</li>
			<li>
				<b>Optimized for the cloud</b>. Created for deployment in a cloud environment 
				(Software as a Service) and designed with attitude to the pricing of hosting providers. 
				Cloud resources are used on the principle of "best value for less money".
			</li>
			<li>
				<b>Ease of deployment and upgrade</b>. The platform is a set of libraries in the format of regular files, 
				which can be easily modified or transferred between cloud services, servers and local users' computers.
			</li>
		</ul>
	</div>
</section>
